@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";

/*Variables/mixins*/
$green: #D2F1E4;
$dark: #112124;
$orange: #FF8585;

body {
	margin-left: 10px;
	margin-right: 10px;
}


.left-col {
	margin-left: 30px;
	background-color: $green;
	img {
		border-radius: 50%;
		max-width: 80%;
		margin-left: 20px;
	}
	p {
		padding-top: 10px;
		text-align: center;
	}
	ul {
		display: flex;
		justify-content: space-around;
		a {
			&:link {color: $dark;}
			&:hover {color: $orange;}
			&:visited {color: $orange;}
		}
	}
}
