@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Kreon|Montserrat|Open+Sans|Playfair+Display+SC|Sorts+Mill+Goudy|Bad+Script');
@import "../node_modules/bulma/sass/utilities/initial-variables";

$green: #B2CCC1;
$dark-green: #093321;
$orange: #FF8585;
$darkorange: #7F4242;
$lightgrey: #F5F5F5;
$primary: $green;
$danger: $orange;
$dark: $dark-green;

@import "../node_modules/bulma/bulma";
@import '../node_modules/bulma-timeline/dist/css/bulma-timeline.sass';

/*Mediaqueries*/
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) and (max-width: 1023px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

body {
	width: 100%;
	background-color: $lightgrey;
	font-family: 'Montserrat', sans-serif;
}

.triangle {
	position: absolute;
	right: 0;
	width: 0;
	height: 0;
	z-index: 1;
	border-style: solid;
	border-width: 0 600px 600px 0;
	border-color: transparent $dark-green transparent transparent;
}

.navbar {
	margin-left: 20px;
	background-color: transparent;
	z-index: 10;
	.navbar-burger {color: $danger;}
	.navbar-item {
		color: $dark;
		&:hover {
			color: $orange;
		}
		.navbar-link:hover {color: $danger;}
		@include for-phone-only {
		    color: $lightgrey;
		}
		@include for-tablet-portrait-up {
		    color: $lightgrey;
		}	
	}
	.navbar-menu {
		@include for-phone-only {
		    background-color: $dark;
		}
		@include for-tablet-portrait-up {
		    background-color: $dark;
		}
	}
}

.left-col {
	@include for-phone-only {
	    	position: relative;
	    	z-index: 2;
	    	margin-left: 0px;
	    	max-height: 700px;
	  	}
	@include for-tablet-portrait-up {
	    	position: relative;
	    	z-index: 2;
	    	margin-left: 240px;
	    	margin-right: 240px;
	  	}
	@include for-big-desktop-up {
	    	max-height: 700px;
	  	}
	position: sticky;
	top:0;
	margin-left: 30px;
	background-color: $green;
	max-height: 500px;
	img {
		border-radius: 50%;
		max-width: 80%;
		margin-left: 20px;
	}
	p {
		padding-top: 10px;
		text-align: center;
		color: $dark-green;
	}
	ul {
		display: flex;
		justify-content: space-around;
		a {
			&:link {color: $dark-green;}
			&:hover {color: $darkorange;}
			&:visited {color: $orange;}
		}
	}
}

.right-col {
	position: sticky;
	z-index: 3;
	padding-top: 0px;
	top:0;
	height: 100%;
	aside {
		a {color: $orange;}
		&:hover {color: $orange;}
	}
	@include for-phone-only {
		display: none;    	
	}
	@include for-tablet-portrait-up {
	    display: none; 
	}
}

.center-col {
	background-color: white;
	padding-bottom: 50px;
	margin-left: 10px;
	z-index:3;
	a {
		&:link {color: $dark-green;}
		&:hover {color: $darkorange;}
		&:visited {color: $orange;}
	}
	.intro {
		p {
			padding-left: 30px;
			padding-right: 60px;
			line-height: 25pt;
			text-align: justify;
			margin-bottom: 14px;
		}
	}
	.form div {
		padding-right: 25px;
	}
	.container-perso {
		@include for-tablet-portrait-up {
		    	display: flex;
		    	flex-direction: row;
		  	}
		.info {
			font-weight: bold;
		}
		p {
			padding-left: 30px;
			line-height: 30pt;
		}
		.container-level {
			@include for-phone-only {
		    	display:none;
		  	}
			padding-top: 30px;
			padding-right: 30px;	
		}
	}
	.experience {
		padding-left: 10px;
		padding-right: 30px;
		.timeline{
			margin-left: 20px;
			.fa-ellipsis-v {color: white;}
		}
	}
}

/*Page - projects*/
.project_container {
	margin-left: 30px;
	padding-top: 15px;
	background-color: white;
	z-index: 10;
	.proj-summary {
		padding-top: 20px;
		padding-left: 30px;
	}
	.btn_container {
		justify-content: center;
		a {margin: 2px;}
	}
	.gallery{
		margin-top: 20px;
		flex-wrap: wrap;
	}
}

/*Footer*/
.footer {
	margin-left: 15px;
	padding-top: 3rem;
	padding-bottom: 1rem;
}

