@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

$green: #D2F1E4;
$primary: $green;
$dark-green: #112124;
$orange: #FF8585;
$danger: $orange;

@import "../node_modules/bulma/bulma";


body {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #F5F5F5;
}

a {
	&:link {color: $dark-green;}
	&:hover {color: $orange;}
	&:visited {color: $orange;}
}

.navbar {background-color: transparent}

.left-col {
	margin-left: 30px;
	background-color: $green;
	max-height: 350px;
	img {
		border-radius: 50%;
		max-width: 80%;
		margin-left: 20px;
	}
	p {
		padding-top: 10px;
		text-align: center;
	}
	ul {
		display: flex;
		justify-content: space-around;
	}
}

.center-col {
	background-color: white;
	margin-left: 10px;
	.break {
		background-color: #F5F5F5;
		height: 5px;
	}
	.container-perso {
		.info {
			font-weight: bold;
		}
		p {
			padding: 10px;
		}
		ul {
		display:flex;
		}
		.container-level {
			padding-top: 30px;
			.level {color: $green;}
		}
	}
}

